{% extends 'admin/base.html' %}

{% block title_content %}
    Create Post
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <form action="{{ url_for('posts.create_post') }}" method="POST">

            {% for field in form %}

                <div class="form-group">
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                </div>

            {% endfor %}

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
{% endblock %}